{%- liquid
  assign seo_title = page_title
  if current_tags
    assign seo_title = seo_title | append: ' – tagged "' | append: current_tags | join: ', ' | append: '"'
  endif
  if current_page != 1
    assign seo_title = seo_title | append: ' – Page ' | append: current_page
  endif
  unless seo_title contains shop.name
    assign seo_title = seo_title | append: ' – ' | append: shop.name
  endunless

  assign seo_description = page_description | default: shop.description | default: shop.name
-%}

<title>{{ seo_title | strip }}</title>

{% if seo_description != blank %}
  <meta name="description" content="{{ seo_description | strip_html | escape }}">
{% endif %}

<link rel="canonical" href="{{ canonical_url }}">

<meta property="og:site_name" content="{{ shop.name | escape }}">
<meta property="og:title" content="{{ page_title | escape }}">
<meta property="og:url" content="{{ canonical_url }}">
<meta property="og:type" content="{% if template contains 'product' %}product{% else %}website{% endif %}">

{% if page_description %}
  <meta property="og:description" content="{{ page_description | strip_html | escape }}">
{% endif %}

{% if template contains 'product' and product.featured_image %}
  <meta property="og:image" content="https:{{ product.featured_image | image_url: width: 1200 }}">
{% elsif template contains 'article' and article.image %}
  <meta property="og:image" content="https:{{ article.image | image_url: width: 1200 }}">
{% elsif settings.share_image %}
  <meta property="og:image" content="https:{{ settings.share_image | image_url: width: 1200 }}">
{% endif %}

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ page_title | escape }}">
{% if page_description %}
  <meta name="twitter:description" content="{{ page_description | strip_html | escape }}">
{% endif %}
